/* Alertas genéricos */
/* .alert {
  padding: 10px;
  border-radius: 4px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
} */

.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.flash {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}

.notice {
  background-color: #38a169; /* verde */
  margin-top: 50px;
  
}

.alert {
  background-color: #e53e3e; /* vermelho */
}
