<%= simple_form_for(
    message, 
    url: messages_path,
    html: {
      id: "message_form",
      class: "chat-form",
      data: {
        controller: "reset-form",
        action: "turbo:submit-end->reset-form#clearInput"
      }
    }
  ) do |f| %>

  <%= f.input :body,
    label: false,
    input_html: {
      id: "chat-input",
      class: "chat-input",
      data: { reset_form_target: "input" },
      placeholder: "Digite a mensagem..."
    } %>

  <div class="form-actions">
    <%= f.button :submit, class: "chat-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none"
           viewBox="0 0 24 24" stroke="currentColor" class="chat-icon">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
      </svg>
    <% end %>
  </div>

<% end %>
