<%= simple_form_for(
    message, 
    url: messages_path,
    html: {
      id: "message_form",
      class: "chat-form",
      data: {
        controller: "reset-form",
        action: "turbo:submit-end->reset-form#clearInput"
      }
    }
  ) do |f| %>

  <%= f.input :body,
    label: false,
    input_html: {
      id: "chat-input",
      class: "chat-input",
      data: {
        reset_form_target: "input"
      },
      placeholder: "Digite a mensagem..."
    } %>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", class: "chat-button" %>
  </div>

<% end %>
